:root {
  --deep-emerald: #064e3b;
  --soft-emerald: #ecfdf5;
  --base-surface: #fafaf9;
  --Primary-text: #1c1917;
  --muted: #6c757d;
  --main-font: "Bricolage Grotesque", sans-serif;
  --sub-font: "Plus Jakarta Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sub-font);
}
body {
  background-color: var(--base-surface);
  color: var(--Primary-text);
}
body::selection {
  background-color: var(--deep-emerald);
  color: #fff;
}
h1,
h2,
h3 {
  font-family: var(--main-font);
}
.main-font {
  font-family: var(--main-font);
}
.sub-font {
  font-family: var(--sub-font);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
  margin: 0;
}
a {
  text-decoration: none;
}
.fs-14 {
  font-size: 14px;
}
.btn-emeraled {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #064e3b;
  --bs-btn-border-color: #064e3b;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #053f30;
  --bs-btn-hover-border-color: #05362a;
  --bs-btn-focus-shadow-rgb: 6, 78, 59;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #043328;
  --bs-btn-active-border-color: #042b22;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #064e3b;
  --bs-btn-disabled-border-color: #064e3b;
}
.btn-white {
  --bs-btn-color: #064e3b;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #e7e5e4;
  --bs-btn-hover-color: #064e3b;
  --bs-btn-hover-bg: #ecfdf5;
  --bs-btn-hover-border-color: #064e3b;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #064e3b;
  --bs-btn-active-bg: #e6f7ef;
  --bs-btn-active-border-color: #064e3b;
  --bs-btn-active-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.12);
  --bs-btn-disabled-color: #9ca3af;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #e7e5e4;
}
.emerald-badge {
  font-size: 12px;
  color: var(--deep-emerald);
  background-color: var(--soft-emerald);
  border-radius: 24px;
  padding: 4px;
  font-weight: 600;
  letter-spacing: 3px;
}
.white-badge {
  font-size: 10px;
  color: #333;
  background-color: #fff;
  border-radius: 24px;
  padding: 2px 4px;
  font-weight: 600;
  letter-spacing: 3px;
  border: 1px solid #eee;
}
.color-emerald {
  color: var(--deep-emerald);
}
/* navbar strat */
.navbar .container {
  background-color: #ffffffcc;
  backdrop-filter: blur(24px);
  border: 1px solid #e7e5e480;
  box-shadow: 0 10px 15px rgba(231, 229, 228, 0.4);
}
.navbar .logo {
  width: 40px;
  height: 40px;
  background-color: var(--deep-emerald);
}
/* navbar end */
/* hero start */
.hero .main-content {
  background-color: var(--deep-emerald);
}
.hero .main-content h1 {
  font-size: 6rem;
  line-height: 6rem;
}
.hero .main-content h1 span {
  color: #6ee7b7;
}
.hero .main-content p {
  color: #d1fae5;
}
.hero .bestsellers {
  height: 200px;
}
.hero .bestsellers .bestSellers-image {
  position: absolute;
  top: 0;
  filter: grayscale(1);
  transition: all 0.3s;
  z-index: 0;
}

.hero .bestsellers:hover .bestSellers-image {
  filter: grayscale(0);
  transform: scale(1.02);
}
.hero .bestsellers p {
  z-index: 1;
  bottom: 20px;
  left: 25px;
}
.category-bar .swiper {
  height: 50px;
}
.swiper-slide {
  width: auto;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--base-surface);
  background-color: var(--deep-emerald);
  border-color: var(--deep-emerald);
  box-shadow: 0 10px 25px #064e3b4e;
}
.nav-link:hover {
  color: var(--Primary-text);
  border: 1px solid var(--Primary-text);
}
.nav-link {
  color: var(--muted);
  border: 1px solid var(--muted);
}
.nav-tabs {
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--Primary-text);
  --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
  --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color)
    var(--bs-border-color) var(--bs-body-bg);
  border-bottom: none;
}
.swiper-scrollbar {
  &.swiper-scrollbar-horizontal,
  .swiper-horizontal > & {
    top: 48px;
  }
}
.products .product-card .product-image {
  background-color: var(--base-surface);
}
.products .product-card .product-image .white-badge {
  top: 10px;
  right: 10px;
}
.products .product-card,
.products .product-card .product-image img {
  transition: all 0.3s ease;
}
.products .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.products .product-card:hover .product-image img {
  transform: scale(1.05);
}

.product .product-images .swiper-slide {
  background-color: var(--base-surface);
}

.swiper-horizontal {
  &.swiper-rtl .swiper-button-next,
  &.swiper-rtl ~ .swiper-button-next,
  & ~ .swiper-button-prev,
  .swiper-button-prev svg path,
  &.swiper-rtl .swiper-button-prev,
  &.swiper-rtl ~ .swiper-button-prev,
  & ~ .swiper-button-next,
  .swiper-button-next svg path {
    fill: var(--muted);
  }
}
/* pagination */
.page-link:focus {
  z-index: 3;
  color: var(--base-surface);
  background-color: var(--deep-emerald);
  outline: 0;
  box-shadow: none;
}
.page-link:hover {
  z-index: 2;
  color: var(--Primary-text);
  background-color: var(--base-surface);
  border-color: var(--Primary-text);
}
.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--base-surface);
  background-color: var(--deep-emerald);
  border: var(--deep-emerald);
}
.page-link {
  position: relative;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: var(--muted);
}



/* details page */
.product .comment-card{
  background-color: var(--base-surface);
  min-width: 300px;
}
.comment-card{
  transition: all ease 0.3s;
}
.comment-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.263);
}



/* From Uiverse.io by nima-mollazadeh */
.loader {
  --dur: 2s;
  display: block;
  margin: auto;
  width: 14em;
  height: auto;
}
.loader__glare-top,
.loader__glare-bottom,
.loader__model,
.loader__motion-thick,
.loader__motion-medium,
.loader__motion-thin,
.loader__sand-drop,
.loader__sand-fill,
.loader__sand-grain-left,
.loader__sand-grain-right,
.loader__sand-line-left,
.loader__sand-line-right,
.loader__sand-mound-top,
.loader__sand-mound-bottom {
  animation-duration: var(--dur);
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-iteration-count: infinite;
}
.loader__glare-top {
  animation-name: glare-top;
}
.loader__glare-bottom {
  animation-name: glare-bottom;
}
.loader__model {
  animation-name: loader-flip;
  transform-origin: 12.25px 16.75px;
}
.loader__motion-thick,
.loader__motion-medium,
.loader__motion-thin {
  transform-origin: 26px 26px;
}
.loader__motion-thick {
  animation-name: motion-thick;
}
.loader__motion-medium {
  animation-name: motion-medium;
}
.loader__motion-thin {
  animation-name: motion-thin;
}
.loader__sand-drop {
  animation-name: sand-drop;
}
.loader__sand-fill {
  animation-name: sand-fill;
}
.loader__sand-grain-left {
  animation-name: sand-grain-left;
}
.loader__sand-grain-right {
  animation-name: sand-grain-right;
}
.loader__sand-line-left {
  animation-name: sand-line-left;
}
.loader__sand-line-right {
  animation-name: sand-line-right;
}
.loader__sand-mound-top {
  animation-name: sand-mound-top;
}
.loader__sand-mound-bottom {
  animation-name: sand-mound-bottom;
  transform-origin: 12.25px 31.5px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}
/* Animation */
@keyframes loader-flip {
  from {
    transform: translate(13.75px, 9.25px) rotate(-180deg);
  }
  24%,
  to {
    transform: translate(13.75px, 9.25px) rotate(0);
  }
}
@keyframes glare-top {
  from {
    stroke: rgba(255, 255, 255, 0);
  }
  24%,
  to {
    stroke: white;
  }
}
@keyframes glare-bottom {
  from {
    stroke: white;
  }
  24%,
  to {
    stroke: rgba(255, 255, 255, 0);
  }
}
@keyframes motion-thick {
  from {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(0.67turn);
  }
  20% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    stroke: rgb(32, 32, 32);
    stroke-dashoffset: 141.11;
    transform: rotate(1turn);
  }
  40%,
  to {
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(1.33turn);
  }
}
@keyframes motion-medium {
  from,
  8% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(0.5turn);
  }
  20% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    stroke: white;
    stroke-dashoffset: 147.53;
    transform: rotate(0.83turn);
  }
  32%,
  to {
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(1.17turn);
  }
}
@keyframes motion-thin {
  from,
  4% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(0.33turn);
  }
  24% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    stroke: rgb(53, 53, 53);
    stroke-dashoffset: 134.7;
    transform: rotate(0.67turn);
  }
  44%,
  to {
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: 153.94;
    transform: rotate(1turn);
  }
}
@keyframes sand-drop {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 1;
  }
  70%,
  to {
    stroke-dashoffset: -107;
  }
}
@keyframes sand-fill {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 55;
  }
  70%,
  to {
    stroke-dashoffset: -54;
  }
}
@keyframes sand-grain-left {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 29;
  }
  70%,
  to {
    stroke-dashoffset: -22;
  }
}
@keyframes sand-grain-right {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 27;
  }
  70%,
  to {
    stroke-dashoffset: -24;
  }
}
@keyframes sand-line-left {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 53;
  }
  70%,
  to {
    stroke-dashoffset: -55;
  }
}
@keyframes sand-line-right {
  from,
  10% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    stroke-dashoffset: 14;
  }
  70%,
  to {
    stroke-dashoffset: -24.5;
  }
}
@keyframes sand-mound-top {
  from,
  10% {
    animation-timing-function: linear;
    transform: translate(0, 0);
  }
  15% {
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    transform: translate(0, 1.5px);
  }
  51%,
  to {
    transform: translate(0, 13px);
  }
}
@keyframes sand-mound-bottom {
  from,
  31% {
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    transform: scale(1, 0);
  }
  56%,
  to {
    transform: scale(1, 1);
  }
}
